/*impostazioni generali*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}
.container {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
}
h2 {
  margin:3% 0;
  padding: 3% 0;
  text-transform: uppercase;
}
h3 {
  padding: 3% 0;
}
h3:hover {
  background-color: #6FA2FF;
}
.where, .how, .why {
  background-color: #F9F9F9;
}
img {
  height: 200px;
}
.container > div > p {
  padding-bottom: 3%;
}
/* /impostazioni generali/

/* WHY */
.why > .container > div {
  border-bottom: 1px solid grey;
  margin-bottom: 2%;
}
.why > .container > div:last-child {
  margin-bottom: 0;
  border-bottom: none;
}
.why img {
  height: 250px;
  background-color: #428bca;
  border-radius: 100%;
  padding: 3%;
}
/* /WHY */

/* Responsive layout */
@media screen and (max-width:992px) {
  body {
    font-size: 16px;
  }
  .container {
    width:80vw;
    margin: 5% auto 0;
  }
  .why > .container > div {
    border-bottom: none;
  }
  img {
    height: 150px;
  }
  .why img {
    height: 200px;
  }
}
@media screen and (max-width:768px) {
  .why img {
    height: 150px;
  }
}
